.container {
    background-color: #38B5E6;
    padding: 16px;
    max-height: 600px;
    }

.heading {
        font-size: 2rem;
        font-weight: 100;
        color: white;
        text-align: left;
        }
        
.details {
        font-size: 1rem;
        font-weight: 50;
        color: white;
        text-align: left;
        }

.combos {
    background-color: #38B5E6;
    color:black;
}

.cards {
    background-color: #38B5E6;
    color: #38B5E6;
}
.resultTile {
    border: 1px solid #696969;
    border-radius: .25rem;
    width:1950px;
    max-width:950px; 
    display: block;
 
}

.h2result {
    color: #055D94;
    max-height: 400px;
    text-align: left;
    padding-left: 16px;
    font-size: x-large;
}

/*.findtrialbtn {
    background-color:#D60057;
    color: #D60057;
    padding: 15px 8px;
}*/

